/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 42%);
  --black: hsl(0, 0%, 7%);
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

body {
  font-family: 'Figtree', sans-serif;
  font-size: 1rem; 
  line-height: 1.5;
  background: var(--yellow);
  min-height: 100dvh; /* The 'd' stands for Dynamic! */
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.card {
  background: var(--white);
  padding: 1rem;
  padding-bottom: 1.25rem;
  border: 1px solid black;
  border-radius: 1.25rem;
  max-width: 23.4375rem;
  width: 90%;
  box-shadow: 0.5rem 0.5rem 0 var(--black);
}

.hero-img {
  border-radius: 0.75rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 0.75rem;            
}

.card-content button {
  background-color: var(--yellow);
  border: none;
  font-weight: 800;
  padding: 0.4rem 0.75rem;
  border-radius: 0.25rem;
  margin-top: 1.25rem;
}

.card-content button:hover {
  background-color: #f5d04e; 
}

.card-content h2:hover {
  color: var(--yellow);
  cursor: pointer;
}


.publish {
  color: var(--black);
}

.text {
  color: var(--gray);
}

.author-section {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
  display: block;
}

.author-name {
  margin: 0;
  font-weight: 800;
  font-size: 0.9375rem;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}